PORT=3000
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_ISSUER=http://localhost:8080/realms/docvault
KEYCLOAK_REALM=docvault
KEYCLOAK_AUDIENCE=docvault-gateway
METADATA_SERVICE_URL=http://localhost:3001
DOCUMENT_SERVICE_URL=http://localhost:3002
WORKFLOW_SERVICE_URL=http://localhost:3003
AUDIT_SERVICE_URL=http://localhost:3004
NOTIFICATION_SERVICE_URL=http://localhost:3005
